h1 {
    padding: 15px;
    text-align: center;
    color: rgb(249, 211, 245);
}

img {
    width: 50%;
}

div {
    text-align: center;
}

nav{
    background-color: rgb(249, 211, 245);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li{
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(70, 126, 104);
    text-decoration: none;
}

main {
    margin: 0px 20px;
}


.headingshow{
    color: rgb(249, 211, 245) ;
}

.showpage{
    width: 50%;
    float: left;
    padding: 20px;

}

.headingshow , .footer h2{
    color: rgb(70, 126, 104);
    padding-bottom: 5px;
}

h4 {
    color: gray;
}

.alert-danger{
    text-align: center;
}